// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
//startupmenu

// FOR XBOX CERT
//sv_unlockedchapters 99
sv_unlockedchapters 99
gameui_xbox 0
con_enable 1

